<div class="container-home">
  <%= simple_form_for @costume do |f| %>
    <%= f.input :name, label: 'Choose a title for your costume', class:"input-shadow"%>
      <div class="multi-input">
        <div>
          <%= f.input :size, collection: ["XS", "S", "M", "L", "XL"], class:"input-shadow" %></div>
        <div>
          <%= f.input :gender, collection: ["Male", "Female", "Unisex"], class:"input-shadow" %></div>
        <div>
          <%= f.input :age, collection: ["Adults", "Children"], class:"input-shadow" %></div>
      </div>
    <%= f.input :price, class:"input-shadow" %>
    <%= f.input :description, class:"input-shadow" %>
    <%= f.input :condition, collection: ["new", "average", "used"], class:"input-shadow" %>
    <%= f.input :min_duration, class:"input-shadow" %>
    <%= f.input :photo, as: :file, class:"input-shadow" %>
    <%= f.button :submit, value:"Register new changes", class:"btn-submit" %>
  <% end %>
</div>