<%= render "common/banner" %>

<div class="container-home">
  <div class="cards">

    <% @costumes.each do |costume| %>
      <% if current_user != costume.owner %>
        <%= link_to costume_path(costume) , class:"text-decoration-none text-dark" do %>
          <div class="card-trip">
            <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= costume.name %></h2>
                <p>Size: <%= costume.size %></p>
                <% if costume.reviews.count > 0 %>
                <p>Rating :
                <%= (costume.reviews.except{|r| r.rating.nil?}.sum(&:rating) / costume.reviews.except{|r| r.rating.nil?}.count.to_f ).round(1)%>
                / 5
                </p>
                <% else %>
                  <p>No reviews yet</p>
                <% end %>
              </div>
              <h2 class="card-trip-pricing"> <%= costume.price %>€/day</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
