<%= render "common/banner" %>

<div class="container-home">
  <% if user_signed_in? %>
  <p>Hello <%= current_user.first_name %></p>
  <% else %>
  <p>You are not log-in</p>
  <% end %>
  <%# Costume Card %>
  <div class="cards">

    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) , class:"text-decoration-none text-dark" do %>
      <div class="card-trip">
      <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= costume.name %></h2>
            <p>Size <%= costume.size %></p>
          </div>
          <h2 class="card-trip-pricing"> <%= costume.price %>£/day</h2>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

</div>
