<%= render "common/banner" %>

<div class="container-home">
  <div class="cards">

    <% @costumes.each do |costume| %>
      <% if current_user != costume.owner %>
        <%= link_to costume_path(costume) , class:"card-trip text-decoration-none text-dark" do %>
            <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= costume.name %></h2>
                <p>Size: <%= costume.size %></p>
              </div>
              <h2 class="card-trip-pricing"> <%= costume.price %>€/day</h2>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="map-box"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
