<%= render "common/banner" %>

<div class="main-container" data-controller="hello">


  <h2 class="border-bottom" >Shop by category </h2>
  <div class="categories">
    <div
    class="category"
    style="background-image: url(<%= asset_path 'category-kids.jpeg' %>) ;"
    >
      <strong> Kids</strong>
    </div>
    <div
    class="category"
    style="background-image: url(<%= asset_path 'category-women.jpeg' %>) ;"
    >
      <strong> Women</strong>
    </div>
    <div
    class="category"
    style="background-image: url(<%= asset_path 'category-men.jpeg' %>) ;"
    >
      <strong> Men</strong>
    </div>
  </div>


<%# Browse all costumes %>
  <h2 class="border-bottom" > Shop all</h2>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) , class:"costume-card text-decoration-none text-dark" do %>
        <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
        <div class="costume-card-infos">
          <div>
            <h3><%= costume.name %></h3>
            <p>Size: <%= costume.size %></p>
            <% if costume.reviews.count > 0 %>
              <p>Rating :<%=
                (costume.reviews.except{|r| r.rating.nil?}.sum(&:rating) / costume.reviews.except{|r| r.rating.nil?}.count.to_f ).round(1)
                %>/ 5
              </p>
            <% else %>
              <p>No reviews yet</p>
            <% end %>
          </div>
        <h3> <%= costume.price %>€/day</h3>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
