<%= render "common/banner" %>

<div class="main-container">

<form
  novalidate="novalidate"
  class="simple_form search" action="/" accept-charset="UTF-8" method="get"  >
  <div class="search-form-control form-group" >
    <input
      data-search-target="searchBar"
      class="form-control string required"
      type="text" name="query" id="search_query"
      placeholder="Search" value="<%= params[:query] %>"
    />

  <div class="">
    <%= filter("gender", "Men", "Men") %>
  </div>

    <button type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

  <h2 class="border-bottom" >Shop by category </h2>
  <div class="categories">
    <div
    class="category"
    style="background-image: url(<%= asset_path 'category-kids.jpeg' %>) ;"
    >
      <strong> Kids</strong>
    </div>

    <%= link_to "/?gender=Men", html_options = { class:"category", style: "background-image: url(/assets/category-men-d9f83a5d8904fccd1855d77380c1a14c02adf4852e79fa1ada9599c217dfdc13.jpg)"}  do %>
      <strong> Men</strong>
    <% end %>


    <%= link_to "/?gender=Women", html_options = { class:"category", style:"background-image: url(/assets/category-women-24a8cbddd9e80c54c0e954e41760ff6cb0096fd4c21b0a5a9f7406c7aa3be482.jpg)"}  do %>
        <strong> Women</strong>
    <% end %>

  </div>
<%= console %>

<%# Browse all costumes %>
  <h2 class="border-bottom" > Shop all</h2>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) , class:"costume-card text-decoration-none text-dark" do %>
        <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
        <div class="costume-card-infos">
          <div>
            <h3><%= costume.name %></h3>
            <p>Size: <%= costume.size %></p>
            <% if costume.reviews.count > 0 %>
              <p>Rating :<%=
                (costume.reviews.except{|r| r.rating.nil?}.sum(&:rating) / costume.reviews.except{|r| r.rating.nil?}.count.to_f ).round(1)
                %>/ 5
              </p>
            <% else %>
              <p>No reviews yet</p>
            <% end %>
          </div>
        <h3> <%= costume.price %>€/day</h3>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
