<%= render "common/banner" %>

<div class="main-container">

<form
  novalidate="novalidate"
  class="simple_form search" action="/" accept-charset="UTF-8" method="get"  >
  <div class="search-form-control form-group" >
    <input
      data-search-target="searchBar"
      class="form-control string required"
      type="text" name="query" id="search_query"
      placeholder="Search" value="<%= params[:query] %>"
    />

  <div class="">
    <%= filter("gender", "Men", "Men") %>
  </div>

    <button type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

  <h2 class="border-bottom" >Shop by category </h2>
  <div class="categories">
    <%= link_to request.params.merge(age: "Kids", gender:"*"), html_options = { class:"category", style:"background-image: url(#{asset_path 'category-kids.jpeg'} )"}  do %>
        <strong> Kids</strong>
    <% end %>

    <%= link_to request.params.merge(age: "Adults", gender: "Men"), html_options = { class:"category", style: "background-image: url(#{asset_path 'category-men.jpeg'} )"}  do %>
      <strong> Men</strong>
    <% end %>


    <%= link_to request.params.merge(age: "Adults", gender: "Women"), html_options = { class:"category", style:"background-image: url(#{asset_path 'category-women.jpeg'} )"}  do %>
        <strong> Women</strong>
    <% end %>

  </div>
<%= console %>

<%# Browse all costumes %>
  <h2 class="border-bottom" > Shop all</h2>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) , class:"costume-card text-decoration-none text-dark" do %>
        <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
        <div class="costume-card-infos">
          <div>
            <h3><%= costume.name %></h3>
            <p>Size: <%= costume.size %></p>
            <% if costume.reviews.count > 0 %>
              <p>Rating :<%=
                (costume.reviews.except{|r| r.rating.nil?}.sum(&:rating) / costume.reviews.except{|r| r.rating.nil?}.count.to_f ).round(1)
                %>/ 5
              </p>
            <% else %>
              <p>No reviews yet</p>
            <% end %>
          </div>
        <h3> <%= costume.price %>€/day</h3>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
