<div class="padding-x-y">
  <div class="cards-costume">
    <% @costumes.each do |costume| %>
      <% if current_user == costume.owner %>
        <%= link_to costume_path(costume) , class:"text-decoration-none text-dark" do %>
          <div class="costume-card">
            <%= cl_image_tag costume.photo.key, height: 700, width: 500, crop: :fill %>
            <div class="costume-card-infos">
              <div>
                <h3><%= costume.name %></h3>
                <p>Size: <%= costume.size %></p>
              </div>
              <h3> <%= costume.price %>€/day</h3>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
