<div class="card-show">
  <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
  <div class="card-footer">
    <div class="card-show-infos">
      <h2> <%= @costume.name %></h2>
      <p><%= @costume.description %></p>
      <p><%= @costume.age %></p>
      <p><%= @costume.gender %></p>
      <h2 class="card-show-pricing"> <%= @costume.price %>€/jour </h2>
    </div>

    <div class="form-blank">
      <%= simple_form_for [@costume, @booking] do |f| %>
        <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :end_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
        <%= f.button :submit %>
      <% end %>
    </div>

  </div>
</div>
