<%= link_to(:back, class:"text-decoration-none return-btn") do %>
   <i class="fa-solid fa-chevron-left"></i>
  <% end %>

<div class="card-show">

  <%= cl_image_tag @costume.photo.key, height: 700, width: 500, crop: :fill %>

  <div class="card-description">

    <div>
      <div class="infos-bubbles">
        <p>Size: <%= @costume.size %></p>
        <p>Gender: <%= @costume.gender %></p>
      </div>
      <h2> <%= @costume.name %></h2>
      <h3> <%= @costume.price %>€ / Day </h3>
    </div>

    <div>
      <p> Condition: <%= @costume.condition == "Perfect" ? "Perfect condition" : @costume.condition %></p>
      <p><%= @costume.description %></p>
    </div>

    <% if user_signed_in? && current_user != @costume.owner %>
      <%# clients can choose dates to send booking requests %>
      <div data-controller="datepicker">
      <strong>My dates</strong>
        <%= simple_form_for [@costume, @booking] do |f| %>
            <%= text_field_tag "test", "", data: { datepicker_target:"initialInput", action:"change->datepicker#convert" }  %>
            <%= f.input :start_date,
                    label: false,
                    as: :hidden,
                    input_html: { data: {datepicker_target:"start"}} %>
            <%= f.input :end_date,
                    label: false,
                    as: :hidden,
                    input_html: { data: {datepicker_target:"end"}} %>
          <%= f.button :submit, class:"full-width-button", value:"Book now" %>
        <% end %>
      </div>

    <% elsif  current_user == @costume.owner %>
      <%# Owner can edit or delete costume %>
      <div class="two-inputs">
        <%= link_to "Edit", edit_costume_path(@costume), class:"full-width-button" %>
        <%= link_to "Delete",
            costume_path(@costume), class:"full-width-button",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
      </div>
    <% else %>
        <strong>Log-in to book this costume</strong>
        <%=link_to 'Log-in', new_user_session_path, class:"full-width-button" %>
    <% end %>

    <div>
      <% if @costume.reviews.count > 0 %>
      <%# Display reviews if any %>
          <h3>Reviews</h3>
          <ul>
            <% @costume.reviews.each do |review| %>
              <li> <p> <%= review.content %> (<%= review.rating %>/5) </p> </li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>
