<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <div class="container-fluid" >

    <%= link_to 'Shop', costumes_path, class:"nav-link" %>

    <%# logo %>
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class:"navbar-brand", width:120%>
    <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%# You can't add a costume if you are not signed in %>
            <% if user_signed_in? %>
            <%=link_to 'Add a costume', new_costume_path, class:"nav-link" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
          <%# user account %>
            <%# avatar %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src=<%=asset_path("user_logo.png") %> />
            <%# user actions %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
              <%=link_to 'My bookings', my_bookings_path, class:"dropdown-item" %>
              <%=link_to 'My costumes', my_costumes_path, class:"dropdown-item" %>
              <%=link_to 'Log-out', destroy_user_session_path, data:{turbo_method: :delete}, class:"dropdown-item" %>
              <% else %>
              <%=link_to 'Log-in', new_user_session_path, class:"dropdown-item" %>
              <%=link_to 'Sign-up', new_user_registration_path, class:"dropdown-item"%>
              <% end %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
